<footer class="border-top p-3">
    <div class="container">
        <small class="float-left">AwesomeBlog Application &copy; Charlotte Sacmar </small>

        <ul class="float-right">
            <li class="d-inline-block">
                <small>
                    <a class="text-muted" href="/">Home</a>
                </small>
            </li>
            <li class="d-inline-block">
                <small>
                    <a class="text-muted" href="/about">About</a>
                </small>
            </li>
        </ul>
    </div>
</footer>